// Переменные
@import 'vars'

//Стиль кнопок
@import 'common/envato__btn'

//---------Стили секций--------

//Стиль верхнего меню и логотипа
@import 'sections/header'

//Секция с таймером, приветствием, формой, разделами и расписанием 
@import 'sections/title__section'

//Секция приветствия 
@import 'sections/welcome__section'

//Секция envato elite с красным логтипом
@import 'sections/envato_elite_section'

//Секция со спикерами
@import 'sections/speakers__section'

//Секция со спонсорами
@import 'sections/sponsors__section'

//Секция прошедшие события
@import 'sections/past_events_section'

//Секция контакты
@import 'sections/contact__section'

//Footer
@import 'sections/footer'

//---------Стили общих блоков--------

//Стиль текстовых блоков
@import 'common/section__text'

//Стиль форм
@import 'common/envato__form'

@import 'common/social_icons_shot_style'


html
    line-height: 1
    font-size: 14px
//    max-width: 1920px
//    width: 100vw
    
body 
    height: auto
    width: 100%
    margin: 0
    padding: 0
    background: $darckGreyBG
//    display: flex
//    flex-direction: column
//    align-items: center
//    margin: 0 auto

div
    display: block

h1
    margin: 0

p
    margin: 0

a
    text-decoration: none

.clearfix:after
    clear: both

.clearfix
    *zoom: 1

.bg__wrapper
    display: block
    top: 0
    left: 0
    z-index: 1 
    
.wrapper
    display: block
    margin: 0 auto
    position: relative 
    overflow: hidden
    left: center
    z-index: 6
    opacity: .99
    width: 100%

//    max-width: 1920px

.section
    display: block
    background: transparent
    
.container
    position: relative
    overflow: visible 
    width: 95vw
    max-width: 1030px
    margin: 0 auto
    padding: 0
    background: transparent


//Адаптивная верстка
//@import '_media'

