extends pug/layout/layout

block title
    | MeetUp Event

block title__section
    include pug/sections/title__section
block welcome__section
    include pug/sections/welcome__section
block envato_elite_section
    include pug/sections/envato_elite_section
block speakers__section 
    include pug/sections/speakers__section
block sponsors__section
    include pug/sections/sponsors__section
block past_event_section
    include pug/sections/past_events_section
block contact__section
    include pug/sections/contact__section