@font-face{
	font-family: "EuphemiaUCASBold";
	src: url("../fonts/EuphemiaUCAS/EuphemiaUCASBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "RobotoBlack";
	src: url("../fonts/roboto-black/Roboto-Black.eot");
	src: url("../fonts/roboto-black/Roboto-Black.eot?#iefix")format("embedded-opentype"),
	url("../fonts/roboto-black/Roboto-Black.woff") format("woff"),
	url("../fonts/roboto-black/Roboto-Black.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "RobotoThin";
	src: url("../fonts/roboto-thin/roboto-thin.eot");
	src: url("../fonts/roboto-thin/roboto-thin.eot?#iefix")format("embedded-opentype"),
	url("../fonts/roboto-thin/roboto-thin.woff") format("woff"),
	url("../fonts/roboto-thin/roboto-thin.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "RobotoBold";
	src: url("../fonts/roboto-bold/Roboto-Bold.eot");
	src: url("../fonts/roboto-bold/Roboto-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/roboto-bold/Roboto-Bold.woff") format("woff"),
	url("../fonts/roboto-bold/Roboto-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "RobotoLight";
	src: url("../fonts/roboto-light/Roboto-Light.eot");
	src: url("../fonts/roboto-light/Roboto-Light.eot?#iefix")format("embedded-opentype"),
	url("../fonts/roboto-light/Roboto-Light.woff") format("woff"),
	url("../fonts/roboto-light/Roboto-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "robotoRegular";
	src: url("../fonts/roboto-regular/Roboto-Regular.eot");
	src: url("../fonts/roboto-regular/Roboto-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/roboto-regular/Roboto-Regular.woff") format("woff"),
	url("../fonts/roboto-regular/Roboto-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "robotoMedium";
	src: url("../fonts/roboto-medium/Roboto-Medium.eot");
	src: url("../fonts/roboto-medium/Roboto-Medium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/roboto-medium/Roboto-Medium.woff") format("woff"),
	url("../fonts/roboto-medium/Roboto-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "robotoSlabRegular";
	src: url("../fonts/robotoSlab-regular/RobotoSlab-Regular.eot");
	src: url("../fonts/robotoSlab-regular/RobotoSlab-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/robotoSlab-regular/RobotoSlab-Regular.woff") format("woff"),
	url("../fonts/robotoSlab-regular/RobotoSlab-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "robotoSlabThin";
	src: url("../fonts/robotoSlab-thin/RobotoSlab-Thin.eot");
	src: url("../fonts/robotoSlab-thin/RobotoSlab-Thin.eot?#iefix")format("embedded-opentype"),
	url("../fonts/robotoSlab-thin/RobotoSlab-Thin.woff") format("woff"),
	url("../fonts/robotoSlab-thin/RobotoSlab-Thin.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}