section.envato_elite_section
	.container
		.envato_elite_red_logo
			embed(src="img/ee5.svg")
			p Envato elite
		.section__text.white__text
			span.title__style We reward the Elites!
			ul.content__style
				li Are you an Elite author in the Envato Marketplaces? If so we are proud of you! We want to give our thanks in achieving great success in the marketplace and we want to make known to the people of our country that you are amazing! Our Elite gifting program includes giving you special merchandize from our community and also promote your works in our community.
				li All you have to do is contact us by clicking the button here and then its just going to the event, saying something motivational and taking that swag while looking amazing infront of thousands of other community members.
				li *Be advised, we will only give you Elite thank you swag for each level of elite you cross. That means if you do not cross to the next elite level before the next event, you cannot claim your prizes.
		a(href="javascript:void(0);").envato__btn.bring_on_the_swag Bring on the swag!