section.past_events_section
    .container
        #focus__text.text__section
            span.title__style Past Events
            span.content__style Check out the photos of our previous events where we rocked with a lot of Famous and enthusiatic authors! We’re always planning to make our future events feel fresh and fun to be at. :)
    .horizontal-slidermix
        ul.no-mark.sm-slider
            li.slide-itemmix
                .event__about
                    span Montego Bay, 20 - 23 March, 2017
                    a(href="javascript:void(0);") 450 photographies, 30 videos
                img(src='img/event1.jpg').slide__content
            li.slide-itemmix
                .event__about
                    span Casablanca, 25 - 28 March, 2016
                    a(href="javascript:void(0);") 434 photographies, 27 videos
                img(src='img/event2.jpg').slide__content
            li.slide-itemmix
                .event__about
                    span Hannover, 1 - 4 April, 2015
                    a(href="javascript:void(0);") 502 photographies, 40 videos
                img(src='img/event3.jpg').slide__content
            li.slide-itemmix
                .event__about
                    span Porto, 25 - 28 March, 2014
                    a(href="javascript:void(0);") 398 photographies, 25 videos
                img(src='img/event4.jpg').slide__content
            li.slide-itemmix
                .event__about
                    span Montego Bay, 20 - 23 March, 2013
                    a(href="javascript:void(0);") 450 photographies, 30 videos
                img(src='img/event5.jpg').slide__content
            li.slide-itemmix
                .event__about
                    span Paris, 25 - 28 March, 2012
                    a(href="javascript:void(0);") 404 photographies, 29 videos
                img(src='img/event6.jpg').slide__content
            li.slide-itemmix
                .event__about
                    span Amsterdam, 1 - 4 April, 2011
                    a(href="javascript:void(0);") 581 photographies, 45 videos
                img(src='img/event7.jpg').slide__content
            li.slide-itemmix
                .event__about
                    span Urbino, 25 - 28 March, 2010
                    a(href="javascript:void(0);") 376 photographies, 35 videos
                img(src='img/event8.jpg').slide__content
            li.slide-itemmix
                .event__about
                    span Barcelona, 1 - 4 April, 2009
                    a(href="javascript:void(0);") 522 photographies, 30 videos
                img(src='img/event9.jpg').slide__content
            li.slide-itemmix
                .event__about
                    span Agadir, 25 - 28 March, 2008
                    a(href="javascript:void(0);") 388 photographies, 26 videos
                img(src='img/event10.jpg').slide__content
    a(href="javascript:void(0);" alt="1").view__more-btn.envato__btn-gray View More
    #past_events_white_bg.white__space
    