section.sponsors__section.wow
    .container
        .text__section.white__text
            span.title__style Sponsor Our Event!
            ul.content__style 
                li If you want to help us making this event lively and successful, help us by sponsoring our event!
                li This will help us bring in more people, have better livestreaming equipment, maybe even our own chef!
                li You can also sponsor us by giving away free swag at the event!
                li Here’s who have sponsored us already:
        .sponsors__logo
            a(href="javascript:void(0);" title="Mountain Corporation").mountain__corp.wow.zoomInUp 
            a(href="javascript:void(0);" title="S Innovation").s__innovation.wow.zoomInUp 
            p.wow.zoomInUp  envato
        a(href="javascript:void(0);").envato__btn.sponsor__us-btn Sponsor Us