section.title__section.wow
	.container
		.timer__wrap
			.time__digits
				.time__item
					span.days__digit.digit
					span.time__name days
				span.separate :
				.time__item
					span.hours__digit.digit
					span.time__name hours
				span.separate :
				.time__item
					span.min__digit.digit
					span.time__name minutes
				span.separate :
				.time__item
					span.sec__digit.digit
					span.time__name seconds
	