.social_icons_shot_small
	a(href="javascript:void(0);")
		svg(x="0px" y="0px" viewBox="0 0 486.392 486.392" style="enable-background:new 0 0 486.392 486.392;" xml:space="preserve" width="30px" height="30px")
			path(d="M243.196,0C108.891,0,0,108.891,0,243.196s108.891,243.196,243.196,243.196s243.196-108.891,243.196-243.196C486.392,108.861,377.501,0,243.196,0z M306.062,243.165l-39.854,0.03l-0.03,145.917h-54.689V243.196H175.01v-50.281l36.479-0.03l-0.061-29.609c0-41.039,11.126-65.997,59.431-65.997h40.249v50.311h-25.171c-18.817,0-19.729,7.022-19.729,20.124l-0.061,25.171h45.234L306.062,243.165z" fill="#FFFFFF")
	a(href="javascript:void(0);")
		svg(x="0px" y="0px" width="30px" height="30px" viewBox="0 0 49.652 49.652" style="enable-background:new 0 0 49.652 49.652;" xml:space="preserve")
			path(d="M24.826,0C11.137,0,0,11.137,0,24.826c0,13.688,11.137,24.826,24.826,24.826c13.688,0,24.826-11.138,24.826-24.826C49.652,11.137,38.516,0,24.826,0z M35.901,19.144c0.011,0.246,0.017,0.494,0.017,0.742c0,7.551-5.746,16.255-16.259,16.255c-3.227,0-6.231-0.943-8.759-2.565c0.447,0.053,0.902,0.08,1.363,0.08c2.678,0,5.141-0.914,7.097-2.446c-2.5-0.046-4.611-1.698-5.338-3.969c0.348,0.066,0.707,0.103,1.074,0.103c0.521,0,1.027-0.068,1.506-0.199c-2.614-0.524-4.583-2.833-4.583-5.603c0-0.024,0-0.049,0.001-0.072c0.77,0.427,1.651,0.685,2.587,0.714c-1.532-1.023-2.541-2.773-2.541-4.755c0-1.048,0.281-2.03,0.773-2.874c2.817,3.458,7.029,5.732,11.777,5.972c-0.098-0.419-0.147-0.854-0.147-1.303c0-3.155,2.558-5.714,5.713-5.714c1.644,0,3.127,0.694,4.171,1.804c1.303-0.256,2.523-0.73,3.63-1.387c-0.43,1.335-1.333,2.454-2.516,3.162c1.157-0.138,2.261-0.444,3.282-0.899C37.987,17.334,37.018,18.341,35.901,19.144z" fill="#FFFFFF")
	a(href="javascript:void(0);")
		svg(x="0px" y="0px" width="30px" height="30px" viewBox="0 0 49.652 49.652" style="enable-background:new 0 0 49.652 49.652;" xml:space="preserve")
			path(d="M20.894,20.686c0-1.9-1.293-1.9-1.293-1.9h-0.685h-4.634H14.28v4.078h4.991C20.134,22.864,20.894,22.589,20.894,20.686z" fill="#FFFFFF")
			path(d="M33.221,22.864c-2.821,0-3.215,2.814-3.215,2.814h6.002C36.008,25.68,36.045,22.864,33.221,22.864z" fill="#FFFFFF")
			path(d="M19.601,25.68h-5.318v4.886h4.711c0.08,0,0.198,0.004,0.339,0c0.757-0.019,2.196-0.235,2.196-2.374C21.529,25.656,19.601,25.68,19.601,25.68z" fill="#FFFFFF")
			path(d="M24.826,0C11.137,0,0,11.137,0,24.826c0,13.688,11.137,24.826,24.826,24.826c13.688,0,24.826-11.138,24.826-24.826C49.652,11.137,38.516,0,24.826,0z M29.219,16.615h7.539v2.251h-7.539V16.615z M25.407,28.419c0,5.577-5.806,5.395-5.806,5.395h-5.318h-0.156h-4.034V15.539h4.034h0.156h5.318c2.891,0,5.172,1.597,5.172,4.867c0,3.269-2.788,3.477-2.788,3.477C25.66,23.882,25.407,28.419,25.407,28.419z M39.512,28.119h-9.471c0,3.396,3.217,3.182,3.217,3.182c3.036,0,2.93-1.966,2.93-1.966h3.219c0,5.218-6.254,4.859-6.254,4.859c-7.503,0-7.021-6.985-7.021-6.985s-0.007-7.022,7.021-7.022C40.549,20.187,39.51,28.119,39.512,28.119z" fill="#FFFFFF")
	a(href="javascript:void(0);")
		svg(x="0px" y="0px" viewBox="0 0 508.52 508.52" style="enable-background:new 0 0 508.52 508.52;" xml:space="preserve" width="30px" height="30px")
			path(d="M254.26,0C113.845,0,0,113.845,0,254.26s113.845,254.26,254.26,254.26s254.26-113.845,254.26-254.26C508.52,113.813,394.675,0,254.26,0zM254.26,444.51c-104.914,0-190.282-85.368-190.282-190.25S149.346,63.978,254.26,63.978s190.25,85.368,190.25,190.282S359.174,444.51,254.26,444.51z" fill="#FFFFFF")
			path(d="M313.471,273.393c21.294,58.416,29.907,105.963,31.592,115.879c36.423-24.663,62.389-63.724,69.635-108.982C409.199,278.542,364.45,265.193,313.471,273.393z" fill="#FFFFFF")
			path(d="M282.006,281.275c-91.661,31.91-124.587,95.538-127.511,101.481c27.555,21.485,62.198,34.293,99.765,34.293c22.534,0.032,44.019-4.577,63.501-12.904c-2.415-14.239-11.855-63.978-34.675-123.252L282.006,281.275z" fill="#FFFFFF")
			path(d="M300.058,239.354l3.464,8.391c54.094-6.801,107.838,4.1,113.177,5.244c-0.318-38.361-14.016-73.608-36.645-101.259c-3.369,4.608-30.638,39.537-90.771,64.073C293.066,223.558,296.689,231.44,300.058,239.354z" fill="#FFFFFF")
			path(d="M265.606,255.913l6.42-1.907c-4.1-9.249-8.549-18.497-13.19-27.587c-81.172,24.282-159.961,23.265-167.08,23.106l-0.064,4.958c0.032,41.73,15.828,79.869,41.794,108.696C137.173,356.885,181.764,282.991,265.606,255.913z" fill="#FFFFFF")
			path(d="M245.424,201.406c-26.952-47.896-55.969-88.133-60.26-94.013c-45.481,21.453-79.488,63.374-90.008,113.813C102.435,221.301,169.401,221.587,245.424,201.406z" fill="#FFFFFF")
			path(d="M362.034,132.914c-28.763-25.458-66.457-40.968-107.774-40.968c-13.094,0-25.871,1.557-38.075,4.513c4.481,6.039,34.007,46.243,60.641,95.157C334.638,169.973,359.078,137.078,362.034,132.914z" fill="#FFFFFF")