.envato__btn
    display: block
    padding-top: 21px 
    padding-bottom: 21px
    border-radius: 14px
    color: $whiteColor
    font-family: $robotoRegular
    font-size: 1.571em
    
.envato__btn:hover
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.4)
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.4)
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4)

.envato__btn:active
    //position: relative
    //top: 1px
    background: #80ab5d
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset
    border-color: #a9db80

.envato__btn-gray
    display: block
    padding-top: 21px 
    padding-bottom: 21px
    border-radius: 14px
    color: $whiteColor
    font-family: $robotoRegular
    font-size: 1.571em
    
.envato__btn-gray:hover
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.4)
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.4)
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4)

.envato__btn-gray:active
    //position: relative
    //top: 1px
    background: #444444
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset
    border-color: #000000
