.section__text
    display: block
    color: $textColorGrey
    
.title__style
    display: block
    line-height: 1.2
    font-size: 3.571em
    font-family: $robotoBlack

.content__style
    display: block
    padding-left: 0
    list-style: none
    line-height: 1.2
    font-family: $robotoLight
        
    li
        padding-bottom: 20px

.white__text
    color: $whiteColor
        
    
    
    
