.contact__section
    position: relative
    width: 100%
    height: 660px
    background: url(../img/contacts_map.png) 0 0
    background-repeat: no-repeat
    background-size: cover
    z-index: 20
    
    .container
        display: flex
        flex-direction: row
        position: relative
        top: 65px 
        background: $whiteColor
        
    .content__style
        margin: 0 auto 30px auto
        width: 52%
        text-align: center
        font-size: 1.286em

.address__wrap
    display: inline-block
    width: 50%
    height: auto

.contact__img
    display: block
    margin: 96px auto 48px auto

.view__map-btn
    margin: 0 auto 100px auto
    padding-left: 55px
    padding-right: 55px
    width: 110px
    background: $greenColor

//Стиль формы для отправки сообщений Send Message           
.contact__form
    margin-top: 58px
    margin-bottom: 25px 
    margin-right: 50px 
    width: 42%  
    
    .contact_text_feilds
        width: 100%
        
        li
            margin-bottom: 27px
        
        textarea
            width: 98%
            resize: none
            border-radius: 3px

    .send__message
        width: 100%
        background: $schedulerDarkGray
        
        a
            width: 100%
