.envato_elite_section
    width: 100%
    position: relative
    z-index: 8
    
    .section__text
        position: relative
        margin-left: auto
        margin-right: 0 
        padding-bottom: 38px
        text-align: right

.envato_elite_red_logo
    position: absolute
    text-align: center
    top: -180px
    width: 35%
    height: 35%
    
    p 
        position: absolute
        top: 135%
        left: 13%
        color: $whiteColor
        font-family: $robotoSlabThin
        font-size: 36px 
        text-transform: uppercase

.bring_on_the_swag
    width: 160px
    margin-top: 38px
    margin-left: auto
    margin-right: 0 
    padding-right: 25px 
    padding-left: 28px
    background: $greenColor
    font-size: 1.286em

    