header
    display: flex
    justify-content: space-between
    flex-direction: row
    width: 100%
    max-width: 1030px
    margin: 45px auto 0 auto
    position: relative
    
.envato_logo_wrap
    width: 320px
    
.envato_logo_img
    display: inline-block
    margin-right: 12px
     
.envato_logo_text
    display: inline-block
    position: relative
    
    p
        &:first-child
            display: block
            color: $whiteColor
            font-family: $EuphemiaUCASBold
            font-size: 40px
            line-height: 1.4
    
        &:last-child
            display: block
            color: $greenColor
            font-family: $robotoSlabRegular
            text-transform: uppercase
            font-size: 1.071em
            letter-spacing: 5px
    
.header__menu  
    display: flex
    justify-content: flex-end;
    flex-direction: row 
    align-items: center
    width: 50%
    list-style: none
    color: $whiteColor
    font-family: $robotoThin
    text-transform: uppercase

    li
        margin-right: 3.88%
        
        &:last-child
            margin-right: 0

        a
            color: $whiteColor
    

