.past_events_section
    display: flex
    flex-direction: column
    align-items: center
    position: relative
    width: 100%
    
    .white_rotated_space
        top: 0
        height: 1200px
        
    .text__section
        position: absolute
        top: 250px
        width: 58%
        z-index: 8
    
    .title__style
        margin-bottom: 36px
    
    .content__style
        margin-bottom: 100px

.horizontal-slidermix
    position: absolute
    top: 450px
    left: 0
    width: 100%
    z-index: 8

ul.no-mark  
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: space-between
    position: relative
    padding-left: 0
    margin: 0 auto
    list-style: none
    width: 97wv
    max-width: 1170px

ul.sm-slider 
    .slide-content     
        text-decoration: none

.slide-itemmix
    position: relative
    outline: 3px solid $whiteColor
    
    &:after
        content: ''
        position: absolute
        top: 0
        left: 0
        background: rgba(0, 0, 0, 0.5)
        width: 100%
        height: 100%
        z-index: 10  
        
    &:after:hover
        background: transparent

.event__about
    position: absolute
    color: $whiteColor
    margin-top: 35px
    margin-left: 33px
    margin-right: 33px
    z-index: 11
    
    span
        display: block
        line-height: 1.2
        
        &:first-child
            font-family: $robotoBlack
            font-size: 2.1em
            padding-bottom: 10px
            
            &:after
                content: ''
                display: block
                margin-top: 10px
                width: 80px
                height: 6px
                background: $whiteColor
        
    a
        font-family: $robotoMedium
        font-size: 1.286em
        color: $whiteColor
    
.slide__content
    position: relative

.view__more-container
    position: absolute
    bottom: 0 
    
.view__more-btn
    position: absolute
    bottom: 90px
    width: 110px
    text-align: center
    margin: 0 auto
    //margin-bottom: 100px
    padding-right: 49px 
    padding-left: 49px
    background: $schedulerDarkGray
    z-index: 8

.white__space
    position: relative
    top: 0
    width: 100%
    height: 1350px
    background: $whiteColor
    -webkit-clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%)
    clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%)
    z-index: 7
    