.speakers__section
    position: relative
    height: 1400px
    padding-top: 320px
    z-index: 8
    
    .container
        position: relative
        top: 0
        z-index: 9
        
    .text__section
        width: 56%
        padding-bottom: 60px
        
    .title__style
        margin-bottom: 24px
        
    .white_rotated_space
        position: absolute
        top: 90px
        height: 1500px
        z-index: 7
        
.speakers__wrap
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: space-between
   
.speaker__item
    position: relative
    z-index: 9
    
    &:after
        content: ''
        position: absolute
        top: 0
        left: 0
        background: rgba(0, 0, 0, 0.5)
        width: 100%
        height: 100%
        border-radius: 14px
        z-index: 10
        
.center__img
    display: flex
    align-items: center
    width: 29%
    background: none
    z-index: 11
    
    &:after
        content: none
    
    img
        position: relative
        display: block
        margin: 0 auto

.speaker__item:hover
    z-index: 12
        
.speaker__item-img
    position: relative
    width: 100%
    height: auto
    border-radius: 14px
    
.speaker__about
    position: absolute
    top: 0
    color: $whiteColor
    margin-top: 35px
    margin-left: 33px
    margin-right: 33px
    z-index: 11
    
    span
        display: block
        line-height: 1.2
        
        &:first-child
            font-family: $robotoBlack
            font-size: 2.214em
            padding-bottom: 10px
            
            &:after
                content: ''
                display: block
                margin-top: 10px
                width: 80px
                height: 6px
                background: $whiteColor

.more_about_speaker
    color: $whiteColor
    font-family: $robotoMedium
    font-size: 1.286em
    padding-bottom: 50px
            