.title__section
    width: 100%
    
.timer__wrap
    width: 94%
    height: 200px
    margin: 118px auto 
    border: 3px solid $greenColor
    border-radius: 8px
    
.timer_to_envato 
    //margin: 30px 80px 24px 78px
    display: block
    width: 90%
    margin: 0 auto
    
    ul
        padding-left: 0
        list-style: none
        font-family: robotoSlabThin
        color: $whiteColor
        //display: block
        
.time__digits
    display: flex
    justify-content: space-between
    flex-direction: row
    font-family: robotoSlabThin
    color: $whiteColor
    width: 90%
    margin: 20px auto

.separate
        font-size: 8.857em

.time__item
    text-align: center
    
    span
        display: block
        margin: 0 auto
    
.digit
    font-size: 8.857em
    
.time__name
    font-size: 1.857em
    text-transform: uppercase
               
.time__names
    display: flex
    justify-content: space-around 
    flex-direction: row
    
    li
        font-size: 1.857em
        text-transform: uppercase
        text-align: center

        
