.welcome__section
    width: 100%
    position: relative
    
//Rotated Line of images
.img_rotated_shot
    position: relative
    width: 100%
    height: 200px
    top: 0
    left: -50px
    transform: rotate(-7deg)
    -webkit-transform: rotate(-7deg)
    -ms-transform: rotate(-7deg)

.hero1
    position: relative
    z-index: 6
    
.hero2
    position: relative
    left: -45px
    z-index: 5
    
.hero3
    position: relative
    left: -90px
    z-index: 4
    
.hero4
    position: relative
    left: -135px
    z-index: 3
    
.hero5
    position: relative
    left: -180px
    z-index: 2
    
//White rotated bg
.white_rotated_space
    position: relative
    background: $whiteColor
    width: 200vw
    height: 1650px
    top: -120px
    left: -20%
    transform: rotate(-7deg)
    -webkit-transform: rotate(-7deg)
    -ms-transform: rotate(-7deg) 
    z-index: 7
 
.title_info_wrap
    position: absolute
    width: 100%
    top: 210px
    background: transparent
    z-index: 8

.section__text
    width: 51.46%
    position: relative
    top: 50px

//Форма регистрации Sign up

.sign_up_form
    position: absolute
    top: -210px
    right: -2px
    width: 430px
    height: auto
    padding-bottom: 22px
    border: 1px solid $borderGrey
    border-bottom: 2px solid #949293
    background: $whiteColor
    z-index: 9        
    
.sign_up_text_fields
    width: 370px
        
    input
        width: 95%
        margin-top: 9px
        margin-bottom: 9px
        padding-top: 17px  
        padding-bottom: 17px 
        padding-left: 15px
        border: 1px solid $borderGrey
        border-radius: 3px
        font-size: 1.286em
        font-family: $robotoLight
        color: $borderGrey

        &:focus
            outline: 1px solid $greenColor
            outline: 5px auto -webkit-focus-ring-color
        
.let_me_in
    background: $greenColor 
    margin-top: 30px
    margin-bottom: 22px

//Категории
.categories
    width: 100%
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-top: 170px
    margin-bottom: 100px

.cat__item
    position: relative
    text-align: center
    padding-right: 90px
    
    &:last-child
        padding-right: 0
    
    img
        margin-bottom: 30px
        
    .title__style
        margin-bottom: 17px
        font-size: 2.5em
    
//Рассписание
.accordion
    display: block
    position: relative
    width: 100%
    margin-bottom: 37px
    
.scheduler__line
    position: relative
    color: $whiteColor
    
    &:last-child
        border-radius: 0 0 10px 10px 
    
    p
        display: inline-block
        
    img
        display: inline-block
 
.scheduler__tittle 
    display: flex
    flex-direction: row
    justify-content: flex-start 
    padding-top: 25px
    padding-bottom: 25px
    padding-left: 47px
    text-align: center
    background: $greenColor
    font-family: $robotoBlack
    font-size: 2.143em
    border-radius: 10px 10px 0 0 
    
    p:last-child
        padding-left: 16%
        
.sch_dark
    background: $schedulerDarkGray
    font-family: $robotoRegular
    font-size: 1.571em

.sch_light
    background: $schedulerLightGray
    font-family: $robotoRegular
    font-size: 1.571em

.sched_style
    align-items: center
    padding-top: 21px
    
    p:first-child
        width: 16%
        padding-left: 47px  
        margin-right: 11%       

.short_item
    display: inline-block
    flex-direction: row
    align-items: center
    position: relative
    padding-bottom: 31px
    width: 80%
    
.icon__plus
    position: absolute
    right: 5%

.icon__plus:hover
    cursor: pointer

.complete__item
    display: inline-block
    width: 100%
    padding-bottom: 10px
    padding-top: 17px
    background: $completeItem
    color: $textColorGrey
    
    .content__style
        font-size: 16px

.sched__item
    display: flex
    flex-direction: row
    justify-content: flex-start
    padding-bottom: 7px    
    
    p:first-child
        width: 16% 
        margin-right: 7%
        
    p:last-child
        width: 80%
        padding-right: 20px
    

.sch__desc
    width: 81%
    margin: 0 auto
    text-align: center    
    

        

    

